[Unit]
Description=ngrok
After=network.target

[Service]
ExecStart=/usr/bin/ngrok start --all --config /apps/ngrok.yml
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
